@model IEnumerable<MunicipalServices.Models.Issue>
@{
    ViewBag.Title = "My Reports";
}

<div class="container mt-4 bg-light">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Submitted Reports</h2>
        <button type="button" class="btn btn-main fs-6" onclick="location.href='@Url.Action("Create", "Issues")'">+</button>
    </div>
    

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Location</th>
                <th>Category</th>
                <th>Status</th>
                <th>Submitted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.ReferenceNumber</td>
                    <td>@i.Location</td>
                    <td>@i.Category</td>
                    <td>
                        <span class="text-black badge badge-@(i.Status == IssueStatus.Resolved ? "bg-success" :
                                                              i.Status == IssueStatus.InProgress ? "bg-primary" :
                                                              i.Status == IssueStatus.InQueue ? "bg-warning" : "info")">@i.Status
                        </span>

                    </td>
                    <td>@i.CreatedAt.ToLocalTime().ToString("g")</td>
                    <td><a href="@Url.Action("Details", "Issues", new { id = i.Id })" class="btn btn-main fs-6">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>